/* Color Variables */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #E3E3E3;
    --greyDark: #D9D9D9;
    --brownLight: #B58A5B;
    --brownDark: #A05E2B;
    --orange: #F67512;
    --green: #36804F;
    --purple: #C4ACCC;
    --beige: #EFEDE9;
}

/* Fonts */

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    font-weight: 800;
}

/* Basic styling */

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
}

/* header styling */


/* newsletter styling */
.newsLetter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding:7px 20px;
    background-color: var(--beige);
}

.newsLetterText {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

.newsLetter p strong, .newsLetter p span {
    font-size: 12px;
}

.newsLetter p a {
    font-size: 12px;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.lineBreak {
    display: block;
}


header {
    background-color: var(--white);
}
.nav-desktop {
    display: none;
}

.nav-desktop ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navIcons {
    display: flex;
    gap: 48px;
    margin-right: 48px;
}

.nav-desktop a {
    text-decoration: none;
    color: var(--black);
}

.navIconsLinks {
    display: flex;
    gap: 24px;
}

#orderBtn {
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 42px;
    color: var(--white);
    background-color: var(--black);
}


/*mobile navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 32px;
}

@media (min-width: 1024px) {
    .lineBreak {
        display: inline;
    }

    .logoNavContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 48px;
    }

    .nav-desktop {
      display: flex;
    }

    .navbar {
        display: none;
    }
  }

/* gör om denna så den passar i ovan ist?*/
@media (max-width: 1024px) {
    .logo-container {
        height: 62px;
        width: 100%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.logo-header {
    width: 40px;
    height: 40px;
}


.nav-button {
    flex-basis: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--black);
    color: var(--black);
}
.nav-button:hover {
    background-color: #c3c3c3; /*för test*/
}
.nav-button:last-child {
    border-left:none;
}


.nav-overlay, .news-overlay {
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}


.news-overlay {
    background-color: #36804F;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}


.infoContent {
    flex-basis: 100%;
    background-color: var(--beige);
}

.newsHero {
    background-color: #A05E2B;
    display: none;
}

.logo-hero {
    width: 118px;
    height: 118px;
}

@media (min-width: 1024px) {
    .newsHero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .newsHero, .infoContent {
        flex-basis: 50%;
    }
}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer h2 {
    font-size: 20px;
    font-weight: 600;
}

.infoContainer form div {
    display: flex;
    
}

.infoContainer input {
    border: 1px solid var(--black);
    border-right: 0px;
}

.infoContainer button {
    padding: 5px 10px;
    border-radius: 0;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
}

.nav-overlay ul li{
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.nav-overlay {
    background-color: var(--beige);
}

.top-overlay {
    height: 65px;
    padding: 24px;
    text-align: right;
}
.top-overlay a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
}

.content-overlay {
    padding: 24px;
    overflow: scroll;
}

.content-overlay ul {
    padding: 0;
    margin: 0;
}

.content-overlay ul li {
    margin-bottom: 44px;
}


.content-overlay p {
    margin: 0;
}

.bottom-overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-overlay a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
}

.bottom-overlay img {
    vertical-align: middle;
}

.menu-show {
    transform: translateY(0vh);
}



/* Hero styling */
.heroPictureContainer {
    width: 100%;
    min-height: 100vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--white);
    padding: 20px 48px;
}

.heroText {
    align-self: flex-start;
}

.cta-hero {
    align-self: center;
    margin-top: 100px;
}

.heroPictureContainer h1 {
    font-size: 24px;
    margin: 0;
}
.heroPictureContainer h2 {
    font-size: 30px;
    margin: 0;
}

.heroPictureContainer h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.heroPictureContainer p {
    font-size: 16px;
}


.hero-subtext {
    display: none;
}

.cta-hero-down {
    display: none;
}

@media (min-width: 1024px) {
    .heroPictureContainer {
        min-height: calc(100vh - 48px - 62px - 32px);
        justify-content: center;
    }
    .heroPictureContainer h1 {
        font-style: normal;
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-size: 48px;
        line-height: 93.652%;
    }
    
    .heroPictureContainer h2 {
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }
    
    .heroPictureContainer h3 {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    .hero-subtext {
        display: block;
        font-size: 20px !important;
        padding-bottom: 38px;
        
    }

    .cta-hero-down {
        display: block;
    }

    .cta-hero {
        align-self: flex-start;
        margin-top: 0;
    }

    .cta-button {
        font-size: 20px;
        padding: 16px 24px !important;
    }

}


.cta-button {
    padding: 8px 16px;
    display: block;
    border: 1px solid var(--white);
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
}

.cta-button-down {
    padding: 5px;
    display: flex;
    border: 2px solid var(--white);
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

/* Main product styling */

.mainProduct {
    display: flex;
    width: 100%;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: 16px 0;
}

.productHeader {
    align-self: flex-start;
}
.productHeader h3, .productHeader h3 strong{
    font-size: 30px; 
    line-height: 93.652%;
    text-align: left;
    margin: 0;
}

.productHeaderDescription p {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.productContainer {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImgContainer {
}

.productImage {
    background-color: grey;
    max-width: 100%;
    max-width: 400px;
}

.productImage img {
    width: 100%;
    max-height: 100%;
}

.configurationBar {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 320px;
    padding: 4px 16px;
    gap: 32px;
    border-radius: 100px;
    border: 1px solid var(--black);
}

.productInfoContainer {
    border: 1px solid grey;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    width: 100%;
}

.boldInfo {
    font-weight: bold;
}

#cloudContainer {
    display: flex;
    gap: 8px;
}

/* Product gallery styling */

#productCardHeaderContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.productCardSection {
    border-radius: 20px 20px 0px 0px;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px; /* Slightly larger gap for better spacing */
    padding: 24px 16px;
    width: 100vw;
    max-width: 1512px;
    margin: auto;
    min-height: 878px;
}
.productCardSectionArrow {
    width: 32px;
    height: 32px;
    margin-top: 16.5px;
}

@media (min-width: 768px) {
    .productCardSectionArrow {
        width: 48px;
        height: 48px;
        margin-top: 30.5px;
    }
}

.productCardSectionHeader h3 {
    font-weight: 300;
    font-size: clamp(16px, 5vw, 36px);
    margin: 0;
    padding: 0;
}

.productCardSectionHeader h2 {
    font-size: clamp(20px, 6vw, 48px);
    font-weight: 600;    
    margin: 0;
    padding: 0;
}

.productCardMobile {
    border: 1px solid var(--black); 
    padding: 8px;
    width: clamp(358px, 20vw, 464px); /* Responsive scaling */
    flex-grow: 1; /* Allow flexibility */
    max-width: 464px; /* Prevent cards from becoming too large */
    min-width: 358px; /* Ensure cards don’t shrink below mobile size */
    height: 245px;
    display: block;
}

@media (min-width: 768px) {
    .productCardDesktop {
        display: block;
    }
    .productCardMobile{
        display: none;
    }
}

.productCardDesktop {
    width: 464px;
    display: block;
}
.productImageDesktop  {
    width: 464px;
}
#desktopProductInfoCard {
    border: 1px solid var(--black);
    padding: 24px;
}

.productCardContainer {
    display: flex;
    justify-content: center; /* Center cards */
    flex-wrap: wrap; /* Allow wrapping */
    gap: 16px;
    width: 100%; /* Ensures container spans the full width */
    max-width: 1512px; /* Optional: Limit the overall container width */
}

.productCardImage {
    height: 131px;
    width: 100%;
    background-color: #36804F; /* För test */
}

.productName {
    font-size: 20px;
    font-weight: 500;
    margin: 8px;
}

.productButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

/* Product gallery button styling */

.moreInfoButton {
    border: 1px solid var(--black);
    background-color: transparent;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 20px;
}

.productCardTextContainer {
    padding: 0 8px 8px 8px;
}

.preOrderButton {
    color: var(--white);
    border-radius: 42px;
    background-color: var(--black);
    backdrop-filter: blur(31.75px);
    padding: 0 24px;
    display: inline-flex;
    height: 37px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
}

.preOrderButton:hover {
    color: var(--white);
    border-radius: 42px;
    background-color: var(--black);
    backdrop-filter: blur(31.75px);
    padding: 0 24px;
    display: inline-flex;
    height: 37px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-size: 20px;
}

/* ReUse Section Styling */

.reUseSection {
    height: 625px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reUseContainer {
    font-weight: 300;
    display: flex;
    width: 358px;
    height: auto;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: rgba(255, 255, 255, 0.39);

    /* Blur */
    backdrop-filter: blur(42.150001525878906px);
}

.reUseContainer p {
    padding: 0;
    margin: 0;

}

.reUseLogo {
   height: 162px;
}

.reUseButton {
    border: 1px solid var(--black);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;

}

@media (min-width: 1024px) {
    .reUseSection {
        justify-content: start;
    }
    .reUseContainer {
        height: 100%;
        justify-content: center;
        flex-basis: 50%;
        align-items: center;
    }
    .reUseContainer p {
        max-width: 80%;
    }
}

/* ReUse Styling */
.community {
    background: url("../assets/images/communityImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}


.communityTextContainer {
    color: var(--white);
    padding: 0 14px;
    width: 80%;
    margin: 0 auto;
}

.communityTextContainer h2 {
    font-size: 32px;
    font-weight: 400;
    padding-top: 57px;
    margin: 0;
}

.communityTextContainer h2 strong {
    font-size: 32px;
}

.communityTextContainer p {
    line-height: 150%;
    margin: 0;
}

.communityButton {
    font-size: 20px;
    color: var(--white);
    font-weight: 600;
    border: 1px solid var(--white);
    background-color: transparent;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.communityButtonContainer {
    /*
    background: url(/assets/images/communityImage.jpeg) lightgray -100.5px -2.747px / 139.026% 101.256% no-repeat;
    */
    height: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 28px; 
}


@media (min-width: 1024px) {

    .communityTextContainer h2,.communityTextContainer h2 strong {
        font-size: 64px;
    }

    .communityTextContainer p {
        font-size: 18px;
    }

    .community {
        min-height: 100vh;
    }
    .innerTextContainer {
        max-width: 600px;
    }
    

    .communityButton {
        display: none;
    }
}



/* Footer styling - Desktop */
.desktopFooterContainer {
    display: none;
}

@media (min-width: 1024px) {
    .desktopFooterContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.dfooterNavLinks h3 {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 15px 0;
}

.dfooterNavLinks p {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0 16px 0;
}

.sublinks {
    list-style: none;
    padding: 0;
}

.sublinks li {
    margin-bottom: 12px;
}

.sublinks li a {
    text-decoration: none;
    color: var(--black);
}

/* Footer styling */

footer {
    background-color: var(--beige);
    width: 100%;
    /*
    display: flex;
    justify-content: space-between;
    align-items: center;
    */
    padding: 40px 22px;
}

.mobileFooterContainer {
    display: flex;
    width: 342px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
    height: 466px;
}

@media (min-width: 1024px) {
    .mobileFooterContainer {
        display: none;
    }
}

.footerLogo {
    width: 48px;
    height: 48px;
}

.footerFirstContainer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerNavLinks{
    width: 300px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid #000;
    
}

#lastFooterLink {
    border-bottom: 1px solid #000;
}

.footerNavLinks a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.footerNavLinks a:visited{
    color: var(--black);
}


.communityLinks p {
    font-size: 20px;
    font-weight: 500;
}

.footerButton {
    display: flex;
    width: 256px;
    height: 41px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: var(--black);
    text-transform: uppercase;
    color: var(--white);
    font-weight: 300;
    text-decoration: none;
}

.footerIconContainer {
    width: 143px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}