/* Color Variables */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #E3E3E3;
    --greyDark: #D9D9D9;
    --brownLight: #B58A5B;
    --brownDark: #A05E2B;
    --orange: #F67512;
    --green: #36804F;
    --purple: #C4ACCC;
}

/* Fonts */

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    font-weight: 800;
}

/* Basic styling */

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

/* header styling */

.newsLetter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding:7px 20px;
    background-color: var(--grey);
}

.newsLetterText {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

.newsLetter p strong {
    font-size: 12px;
}

.nav-desktop {
    display: none;
}

.nav-desktop ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navIcons {
    display: flex;
    gap: 48px;
    margin-right: 48px;
}

.nav-desktop a {
    text-decoration: none;
    color: var(--black);
}

.navIconsLinks {
    display: flex;
    gap: 24px;
}

#orderBtn {
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 42px;
    color: var(--white);
    background-color: var(--black);
}


/*mobile navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 32px;
}

@media (min-width: 1024px) {
    .logoNavContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 48px;
    }

    .nav-desktop {
      display: flex;
    }

    .navbar {
        display: none;
    }
  }

/* gör om denna så den passar i ovan ist?*/
@media (max-width: 1024px) {
    .logo-container {
        height: 62px;
        width: 100%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.logo-header {
    width: 40px;
    height: 40px;
}


.nav-button {
    flex-basis: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--black);
    color: var(--black);
}
.nav-button:hover {
    background-color: #c3c3c3; /*för test*/
}
.nav-button:last-child {
    border-left:none;
}


.nav-overlay {
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
.nav-overlay ul li {
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.top-overlay {
    height: 65px;
    padding: 24px;
    text-align: right;
}
.top-overlay a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
}

.content-overlay {
    padding: 24px;
    overflow: scroll;
}

.content-overlay ul {
    padding: 0;
    margin: 0;
}

.content-overlay ul li {
    margin-bottom: 44px;
}


.content-overlay p {
    margin: 0;
}

.bottom-overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-overlay a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
}

.bottom-overlay img {
    vertical-align: middle;
}

.menu-show {
    transform: translateY(0vh);
}



/* Hero styling */

.heroPictureContainer {
    width: 100%;
    height: calc(100vh - 48px - 62px - 32px);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta-button {
    padding: 8px 16px;
    border: 1px solid var(--white);
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
}


/* Main product styling */

.mainProduct {
    display: flex;
    width: 390px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: 16px 0;
}

.productHeader {
    font-size: 30px; 
    line-height: 93.652%;
    text-align: left;
}

.productHeaderDescription {
    font-size: 20px;
    font-weight: 300;
}

.productContainer {
    width: 358px;
    gap: 8px;
}

.productImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.productImage {
    height: 270px;
    background-color: grey;
    width: 358px;
}

.configurationBar {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 320px;
    padding: 4px 16px;
    gap: 32px;
    border-radius: 100px;
    border: 1px solid var(--black);
}

.productInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0 0 0;
}

.boldInfo {
    font-weight: bold;
}

#cloudContainer {
    display: flex;
    gap: 8px;
}

/* Product gallery styling */

#productCardHeaderContainer{
    display: flex;
    width: 358px;
    justify-content: space-between;
}

.productCardSection {
    border-radius: 20px 20px 0px 0px;
    border: 1px solid var(--black);
    display: flex;
    width: 390px;
    height: 878px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex-shrink: 0;
}

.productCardSectionHeader h3 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.productCardSectionHeader h2 {
    font-size: 20px;
    font-weight: 600;    
    margin: 0;
    padding: 0;
}

.productCard {
    border: 1px solid var(--black);
    width: 100%;
    padding: 8px;
}

.productCardImage {
    height: 131px;
    width: 100%;
    background-color: #36804F; /* För test */
}

.productName {
    font-size: 20px;
    font-weight: 500;
}

.productButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Product gallery button styling */

.moreInfoButton {
    border: 1px solid var(--black);
    background-color: var(--white);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.preOrderButton {
    color: var(--white);
    border-radius: 42px;
    background-color: var(--black);
    backdrop-filter: blur(31.75px);
    padding: 0 24px;
    display: inline-flex;
    height: 37px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.preOrderButton:hover {
    color: var(--white);
    border-radius: 42px;
    background-color: var(--black);
    backdrop-filter: blur(31.75px);
    padding: 0 24px;
    display: inline-flex;
    height: 37px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-size: 20px;
}

/* ReUse Section Styling */

.reUseSection {
    height: 625px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reUseContainer {
    display: flex;
    width: 358px;
    height: 538px;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: rgba(255, 255, 255, 0.39);

    /* Blur */
    backdrop-filter: blur(42.150001525878906px);
}

.reUseButton {
    border: 1px solid var(--black);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;

}

/* ReUse Styling */

.communityTextContainer {
    color: var(--white);
    background-color: var(--black);
}

.communityTextContainer h2 {
    font-size: 32px;
    font-weight: 400;
}

.communityTextContainer h2 strong {
    font-size: 32px;
}

.communityTextContainer p {
    line-height: 150%;
}

/* Footer styling */

footer {
    background-color: #D9D9D9;
    width: 100vw;
    height: 590px;  /* Mobile height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 22px;
}

.footerContainer {
    display: flex;
    width: 342px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
    height: 466px;
}

.footerLogo {
    width: 48px;
    height: 48px;
}

.footerFirstContainer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerNavLinks{
    width: 300px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid #000;
    
}

#lastFooterLink {
    border-bottom: 1px solid #000;
}

.footerNavLinks a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.footerNavLinks a:visited{
    color: var(--black);
}


.communityLinks p {
    font-size: 20px;
    font-weight: 500;
}

.footerButton {
    display: flex;
    width: 256px;
    height: 41px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: var(--black);
    text-transform: uppercase;
    color: var(--white);
    font-weight: 300;
}

.footerIconContainer {
    width: 143px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}