/* Color Variables */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #E3E0D5;
    --beige: #F9F3E5;
    --brownLight: #B58A5B;
    --brownDark: #A05E2B;
    --orange: #F67512;
    --green: #36804F;
    --purple: #C4ACCC;
}

/* Fonts */

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    font-weight: 800;
}

/* Basic styling */

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

/* Grid styling */

.logo-container {
    height: 62px;
    width: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: 40px;
    height: 40px;
}

/* Button styling */

.moreInfoButton {
    border: 1px solid var(--black);
    display: flex;
    height: 37px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;

}

.preOrderButton {
    color: var(--white);
    border-radius: 42px;
    background-color: var(--black);
    backdrop-filter: blur(31.75px);
    padding: 0 24px;
    display: inline-flex;
    height: 37px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.preOrderButton:hover {
    color: var(--white);
    border-radius: 42px;
    background-color: var(--black);
    backdrop-filter: blur(31.75px);
    padding: 0 24px;
    display: inline-flex;
    height: 37px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-size: 20px;
}